<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/cat.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Happy Valentine's Day</title>
</head>
<body>
    <canvas></canvas>
    <h1 class="animated slideInLeft">I LOVE YOU ALLISON, I LOVE MUCH MY LOVE
        <span class="glyphicon glyphicon-heart animated flash"></span> !
    </h1>
    <div class="cats"></div>
    <script src="../JS/js.js" defer></script>
</body>
</html>
